@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;

.sales {
  display: flex;
}

.salesContainer {
  @include container;
  padding-inline: 0;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.salesInfoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  height: 532px;
  background: color.$color-light-gray;
  gap: 24px;
}

.salesUpItems {
  width: 100%;
  max-width: 452px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.saleUpTitle {
  color: color.$color-primary;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 100%;
}

.saleTitle {
  width: 100%;
  font-size: size.$font-size-40px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
  max-width: 350px;
}

.saleSubTitle {
  color: color.$color-black;
  line-height: 160%;
  font-size: size.$font-size-20px;
  margin: 0;
}

.saleLink {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  gap: 4px;
  margin-top: 8px;
  color: color.$color-black;
  text-decoration: none;
  font-size: clamp(
    #{size.$font-size-14px},
    0.8393rem + 0.1786vw,
    #{size.$font-size-16px}
  );
  font-weight: 500;
  line-height: 175%;
  letter-spacing: -0.03em;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: color.$color-black;
    bottom: 0;
  }
}

@media only screen and (max-width: 1250px) {
  .salesUpItems {
    padding-inline: 30px;
  }
}

@media only screen and (max-width: 1100px) {
  .salesInfoBlock {
    max-height: 350px;
    max-width: 550px;
  }
  .image {
    max-height: 350px;
    aspect-ratio: 21 / 9;
  }

  .saleUpTitle {
    font-size: size.$font-size-14px;
  }
  .saleTitle {
    font-size: size.$font-size-36px;
  }
  .saleSubTitle {
    font-size: size.$font-size-16px;
  }
}

@media only screen and (max-width: 900px) {
  .salesContainer {
    flex-direction: column;
  }
  .salesInfoBlock {
    max-width: 100%;
    align-items: start;
  }
  .salesUpItems {
    max-width: 380px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .salesInfoBlock {
    max-height: 367px;
  }
  .image,
  .salesImage {
    max-height: 367px;
  }

  .salesUpItems {
    margin-left: 25px;
    max-width: 295px;
    padding-inline: 0;
  }

  .saleUpTitle {
    font-size: size.$font-size-16px;
  }
  .saleTitle {
    font-size: size.$font-size-34px;
  }
  .saleLink {
    font-size: size.$font-size-16px;
  }
}

@media only screen and (max-width: 400px) {
  .saleTitle {
    font-size: size.$font-size-20px;
  }
  .saleSubTitle {
    font-size: size.$font-size-14px;
  }
  .salesUpItems {
    margin-left: 0;
  }
  .salesInfoBlock {
    max-height: 311px;
    padding: 16px;
  }
}
