@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;

.gallery {
  width: 100%;
  max-width: 700px;
}

.galleryMainImage {
  position: relative;
  width: 100%;
  max-width: 547px;
  height: 728px;
  background: color.$color-light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 4px;
  margin: 0 auto;
}

.discountTitles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 30;
}

.discountedTitle {
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 79px;
  height: 34px;
  background: color.$color-white;
  font-weight: 700;
  font-size: size.$font-size-18px;
  line-height: 100%;
  text-align: center;
  padding: 8px 18px;
  text-transform: uppercase;
}

.discountPercentage {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 18px;
  width: 100%;
  max-width: 79px;
  height: 34px;
  color: color.$color-white;
  font-weight: 700;
  font-size: size.$font-size-18px;
  background: color.$color-success;
}

@media (max-width: 1150px) {
  .galleryMainImage {
    max-width: 400px;
    max-height: 690px;
    border-radius: 4px;
  }
  .discountTitles {
    top: 18px;
    left: 18px;
  }
  .discountedTitle,
  .discountPercentage {
    font-size: size.$font-size-14px;
    max-width: 65px;
    max-height: 32px;
  }
}

@media (max-width: 900px) {
  .galleryMainImage {
    max-width: 100%;
  }
  .gallery {
    max-width: 500px;
  }
}

@media (max-width: 560px) {
  .gallery {
    max-width: 400px;
  }
  .galleryMainImage {
    max-height: 470px;
  }
}

@media (max-width: 455px) {
  .gallery {
    max-width: 350px;
  }
}

@media (max-width: 400px) {
    .gallery {
      max-width: 300px;
    }
}