@use '../../../styles/colors/colors' as color;


.swiper {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullets {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  max-width: 40px;
  max-height: 40px;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  max-width: 18px;
  max-height: 18px;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 52px !important;
  height: 52px !important;
  border-radius: 100%;
  background: color.$color-white;
  box-shadow: color.$color-slider-buttons-box-shadow;
  &::after {
    display: none;
  }
  &::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.swiper-button-prev::before {
  background-image: url('/images/slider/arrow-left.svg') !important;
}

.swiper-button-next::before {
  background-image: url('/images/slider/arrow-right.svg') !important;
}
