@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/globals' as size;
@use '../../styles/colors/colors' as color;






.dropDownIcon {
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: rotate(-180deg);
}