@use '../../../styles/abstracts/mixins' as *;

.banners {
  margin-block-start: 40px;
  display: flex;
}

.bannersContainer {
  @include container;
  display: flex;
  gap: 24px;
}

.otherBannersItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (max-width: 1200px) {
  .bannersContainer {
    padding-inline: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .bannersContainer {
    padding-inline: 50px;
  }
}

@media only screen and (max-width: 750px) {
  .bannersContainer {
    padding-inline: 32px;
  }
}

@media screen and (max-width: 665px) {
    .bannersContainer {
    flex-direction: column;
  }
}
