@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/functions/functions' as *;

.banners {
  margin-block-start: px-to-rem(40px);
  display: flex;
}

.bannersContainer {
  @include container;
  display: flex;
  gap: px-to-rem(24px);
}

.otherBannersItems {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: px-to-rem(24px);
}

@media only screen and (max-width: px-to-rem(1300px)) {
  .bannersContainer {
    padding-inline: px-to-rem(100px);
  }
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .bannersContainer {
    padding-inline: px-to-rem(50px);
  }
}

@media only screen and (max-width: px-to-rem(750px)) {
  .bannersContainer {
    padding-inline: px-to-rem(32px);
  }
}

@media screen and (max-width: px-to-rem(665px)) {
  .bannersContainer {
    flex-direction: column;
  }
}
