@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.cartProcess {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(40px);
  margin-top: px-to-rem(80px);
}

.title {
  margin: 0;
  font-size: size.$font-size-50px;
  text-align: center;
  font-weight: 500;
  line-height: 107%;
  letter-spacing: -0.02em;
}

.process {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: px-to-rem(32px);
}

.processItem {
  display: flex;
  width: 100%;
  max-width: px-to-rem(256px);
  cursor: pointer;
  align-items: center;
  gap: px-to-rem(17px);
  padding-block-end: px-to-rem(26px);
  > .processCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: px-to-rem(40px);
    padding: px-to-rem(8px) px-to-rem(17px);
    width: px-to-rem(42px);
    height: px-to-rem(42px);
    color: color.$color-white;
    background: color.$color-process-circle;
    line-height: 162%;
    font-weight: 600;
    text-align: center;
  }
  > .processTitle {
    font-weight: 600;
    font-size: size.$font-size-16px;
    line-height: 162%;
    color: color.$color-process-circle;
  }
}

.cartProcess .processItem .processCircle.active {
  background: color.$color-process-title;
}

.cartProcess .processItem .processTitle.activeTitle {
  color: color.$color-process-title;
}

.process .activeBorder {
  border-bottom: 2px solid color.$color-process-title;
  border-bottom-right-radius: px-to-rem(2px);
  border-bottom-left-radius: px-to-rem(2px);
}

.productsSummaryBlock {
  padding-inline: 16%;
  width: 100%;
  display: grid;
  grid-template-columns: 60.89% 39.11%;
  column-gap: 6.4%;
  justify-items: end;
}

.productsSummary {
  display: flex;
  flex-direction: column;
  @include container;
  gap: px-to-rem(80px);
}

.productsCartBlock {
  display: flex;
  gap: px-to-rem(64px);
}

.processForms {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-end: px-to-rem(160px);
  gap: px-to-rem(24px);
}

@media (max-width: px-to-rem(1300px)) {
  .productsSummaryBlock,
  .productsSummary {
    padding-inline: px-to-rem(100px);
  }
}

@media (max-width: px-to-rem(1100px)) {
  .process {
    gap: px-to-rem(64px);
    overflow-x: auto;
    max-width: 100%;
    white-space: nowrap;
  }
  .productsSummaryBlock {
    gap: px-to-rem(40px);
  }
}

@media (max-width: px-to-rem(1024px)) {
  .productsCartBlock {
    flex-direction: column;
    gap: px-to-rem(40px);
  }
  .productsSummaryBlock {
    grid-template-columns: 1fr;
    justify-items: start;
    margin-block-end: px-to-rem(90px);
  }
}

@media (max-width: px-to-rem(1000px)) {
  .process {
    padding-inline-start: px-to-rem(50px);
    justify-content: start;
  }
  .productsSummaryBlock,
  .productsSummary {
    padding-inline: px-to-rem(50px);
  }
  .process::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: px-to-rem(750px)) {
  .process {
    padding-inline-start: px-to-rem(32px);
  }
  .productsSummaryBlock {
    padding-inline: px-to-rem(32px);
    gap: px-to-rem(24px);
  }
  .productsSummary {
    padding-inline: px-to-rem(32px);
    gap: px-to-rem(24px);
  }
  .processForms {
    margin-block-end: px-to-rem(80px);
  }
}

@media (max-width: px-to-rem(400px)) {
  .title {
    font-size: size.$font-size-40px;
  }
}
