@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.orderSummary {
  width: 100%;
  max-width: px-to-rem(413px);
  height: 100%;
}

.orderSummaryContainer {
  padding: px-to-rem(16px) px-to-rem(24px);
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16px);
  border: px-to-rem(1.5px) solid color.$color-dark-gray;
  border-radius: px-to-rem(6px);
  margin-block-end: px-to-rem(40px);
}

.orderMain {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(24px);
  min-height: px-to-rem(200px);
}

.orderFooter {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(30px);
}

.summaryTitle {
  font-weight: 500;
  line-height: 121%;
  letter-spacing: -0.02em;
  font-size: size.$font-size-28px;
  color: color.$color-product-title;
}

.applyBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: px-to-rem(12px);
}

.input[type='text'] {
  width: 100%;
  border: px-to-rem(1.5px) solid color.$color-input-border-secondary;
  border-radius: px-to-rem(6px);
  padding: 0 px-to-rem(16px);
  max-width: px-to-rem(258px);
  height: px-to-rem(52px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: color.$color-input-border-secondary;
  caret-color: color.$color-input-border-secondary;
  &:focus {
    outline: px-to-rem(2px) solid color.$color-success;
  }
  &::placeholder {
    color: color.$color-input-border-secondary;
    font-size: size.$font-size-14px;
  }
}

.apply {
  border-radius: px-to-rem(8px);
  background: color.$color-black;
  width: 100%;
  max-width: px-to-rem(95px);
  min-height: px-to-rem(52px);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: color.$color-white;
  line-height: 175%;
  letter-spacing: -0.03em;
  font-weight: 500;
}

.orderFields {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(13px);
}

.discountField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: px-to-rem(13px);
  border-bottom: px-to-rem(1.5px) solid color.$color-gray;
}

.fieldItem {
  display: flex;
  align-items: center;
  gap: px-to-rem(8px);
  > .itemTitle {
    line-height: 162%;
    color: color.$color-black;
    font-weight: 400;
  }
}

.discountHeading {
  line-height: 162%;
  font-weight: 600;
  color: color.$color-success;
}

.shippingField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: px-to-rem(13px);
  border-bottom: px-to-rem(1.5px) solid color.$color-gray;
  > .shippingTitle {
    line-height: 162%;
    color: color.$color-black;
    font-weight: 400;
  }
  > .freeTitle {
    line-height: 162%;
    font-weight: 600;
    color: color.$color-black;
  }
}

.subtotalField,
.totalField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: px-to-rem(13px);
  border-bottom: px-to-rem(1.5px) solid color.$color-gray;
}

.subtotalTitle {
  line-height: 162%;
  font-weight: 400;
  color: color.$color-black;
}

.totalTitle {
  line-height: 140%;
  font: {
    size: size.$font-size-20px;
    weight: 600;
  }
}

.notGoodsTitle {
  font-size: size.$font-size-22px;
  font-weight: 400;
  text-align: center;
  margin-block-start: px-to-rem(25px);
}

@media (max-width: px-to-rem(1024px)) {
  .orderSummary {
    max-width: 100%;
  }
}
