@use '../../abstracts/mixins' as *;
@use '../../abstracts/globals' as size;
@use '../../colors/colors' as color;
@use '../../functions/functions' as *;

.main {
  padding-block-start: px-to-rem(110px);
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(48px);
  @include container;
}

@media (max-width: px-to-rem(1300px)) {
  .contactContainer {
    padding-inline: px-to-rem(100px);
  }
}

@media (max-width: px-to-rem(1024px)) {
  .contactContainer {
    padding-inline: px-to-rem(50px);
  }
}

@media (max-width: px-to-rem(750px)) {
  .contactContainer {
    padding-inline: px-to-rem(32px);
  }
}

@media (max-width: px-to-rem(500px)) {
  .contactContainer {
    gap: px-to-rem(24px);
  }
}
