@use '../../../styles/colors/colors' as color;

.loader {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: transparent transparent transparent color.$color-success;
  animation: spin 1s infinite linear;
  position: relative;
}

.loaderContainer::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 8px solid;
  border-color: color.$color-success transparent transparent transparent;
  animation: spin 1.5s infinite linear reverse;
}

.loaderContainer::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  border: 8px solid;
  border-color: transparent color.$color-success transparent transparent;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
