@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;

.bannerItem {
  position: relative;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 100%;
  max-width: 546px;
  aspect-ratio: 16 / 9;
}

.bannerTitles {
  position: absolute;
  left: 48px;
  top: 48px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bannerTitle {
  font-size: size.$font-size-34px;
  color: color.$color-black;
  font-weight: 500;
  line-height: 112%;
  letter-spacing: -0.02em;
}

.bannerLink {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  gap: 4px;
  color: color.$color-black;
  text-decoration: none;
  font-size: clamp(
    #{size.$font-size-14px},
    0.8393rem + 0.1786vw,
    #{size.$font-size-16px}
  );
  font-weight: 500;
  line-height: 175%;
  letter-spacing: -0.03em;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: color.$color-black;
    bottom: 0;
  }
}

@media only screen and (max-width: 1100px) {
  .bannerTitles {
    top: 20px;
    left: 25px;
    gap: 6px;
  }
  .bannerTitle {
    font-size: size.$font-size-26px;
  }
  .bannerItem {
    aspect-ratio: 16 / 9;
  }
}

@media only screen and (max-width: 665px) {
  .firstBannerItem {
    aspect-ratio: 3 / 3;
  }
  .bannerItem {
    position: relative;
  }
  .bannerTitles {
    position: absolute;
    top: 45%;
  }
  .firstBannerTitle {
    left: 48px;
    top: 30px;
  }
  .bannerTitle {
    font-size: size.$font-size-34px;
  }
  .bannerItem {
    aspect-ratio: 12/ 9;
    border-radius: 1.2rem;
  }
}

@media only screen and (max-width: 385px) {
  .bannerTitles {
    top: 30%;
    left: 10px;
  }
  .firstBannerTitle {
    top: 5%;
    font-size: size.$font-size-18px;
  }
  .bannerTitle {
    font-size: size.$font-size-22px;
  }
  .firstBannerItem {
    background: url(../../../../public/images/banner/primaryBannerSmall.svg)
      no-repeat center center !important;
    aspect-ratio: 5 / 6;
  }
}
