@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.commentBlock {
  width: 100%;
  display: flex;
  gap: px-to-rem(40px);
  padding-block-end: px-to-rem(24px);
  border-bottom: px-to-rem(1.5px) solid color.$color-gray;
}

.commentInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16px);
}

.authorTitle {
  width: 100%;
  font-weight: 600;
  color: color.$color-black;
  font-size: size.$font-size-20px;
  line-height: 160%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.authorDate {
  font-weight: 400;
  font-size: size.$font-size-13px;
}

.commentStars {
  display: flex;
  align-items: center;
  gap: px-to-rem(4px);
}

.comment {
  margin: 0;
  color: color.$color-darker-gray;
  font-size: size.$font-size-16px;
  line-height: 162%;
}


.commentLikes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: size.$font-size-14px;
  color: color.$color-error;
}

.likesBlock {
  display: flex;
  align-items: center;
  gap: px-to-rem(10px);
}

.commentLike,
.commentReply {
  background: transparent;
  border: none;
  font-weight: 600;
  color: color.$color-process-title;
  font-size: size.$font-size-12px;
  line-height: 167%;
}


@media (max-width: px-to-rem(900px)) {
  .commentInfo {
    gap: px-to-rem(12px);
  }
  .commentBlock {
    gap: px-to-rem(25px);
    flex-direction: column;
  }
  .authorImage {
    max-width: px-to-rem(60px);
    max-height: px-to-rem(60px);
  }
  .comment {
    max-width: 100%;
  }
}
