@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;

.hero {
  height: 100%;
  display: flex;
}

.heroContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  @include container;
}

.heroContent {
  display: flex;
  align-items: center;
}

.heroTitle {
  margin: 0;
  font-weight: 500;
  line-height: 106%;
  letter-spacing: -0.03em;
  font-size: clamp(
    #{size.$font-size-40px},
    1.9286rem + 2.8571vw,
    #{size.$font-size-72px}
  );
  position: relative;
  width: 100%;
  max-width: 643px;
}

.titleMark {
  display: inline-block;
  color: color.$color-dark-gray;
}

.heroSubTitle {
  margin: 0;
  font-weight: 400;
  color: color.$color-dark-gray;
  font-size: clamp(
    #{size.$font-size-14px},
    0.8393rem + 0.1786vw,
    #{size.$font-size-16px}
  );
  line-height: 162%;
}

.heroSubTitle > span {
  color: color.$color-darker-gray;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .heroContainer {
    padding-inline: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .heroContainer {
    padding-inline: 50px;
  }
}

@media only screen and (max-width: 835px) {
  .heroTitle {
    font-size: size.$font-size-44px;
  }
}

@media only screen and (max-width: 750px) {
  .heroContainer {
    padding-inline: 32px;
    align-items: start;
  }
  .heroContent {
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
  .heroTitle {
    max-width: 400px;
  }
}

@media only screen and (max-width: 582px) {
  .heroContainer {
    padding-inline: 0;
  }
  .heroContent {
    padding-inline: 32px;
  }
  .heroSubTitle {
    font-size: size.$font-size-16px;
    max-width: 320px;
  }
  .heroTitle {
    font-size: size.$font-size-50px;
  }
}

@media only screen and (max-width: 582px) {
  .heroTitle {
    font-size: size.$font-size-44px;
  };
}

@media only screen and (max-width: 395px) {
  .heroTitle {
    font-size: size.$font-size-38px;
  };
}
