@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/functions/functions' as *;

.hero {
  display: flex;
  margin-top: px-to-rem(110px);
}

.heroContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: px-to-rem(32px);
  @include container;
}

.heroContent {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.heroTitle {
  margin: 0;
  font-weight: 500;
  line-height: 106%;
  letter-spacing: -0.03em;
  font-size: clamp(
    #{size.$font-size-40px},
    1.9286rem + 2.8571vw,
    #{size.$font-size-72px}
  );
  position: relative;
  width: 100%;
  max-width: px-to-rem(643px);
}

.titleMark {
  display: inline-block;
  color: color.$color-dark-gray;
}

.heroSubTitle {
  margin: 0;
  font-weight: 400;
  font-size: clamp(
    #{size.$font-size-14px},
    0.8393rem + 0.1786vw,
    #{size.$font-size-20px}
  );
  max-width: px-to-rem(430px);
  line-height: 162%;
}

.heroSubTitle > span {
  color: color.$color-darker-gray;
  font-weight: 600;
}

@include toDesktop {
  .heroContainer {
    padding-inline: px-to-rem(100px);
  }
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .heroContainer {
    padding-inline: px-to-rem(50px);
  }
}

@media only screen and (max-width: px-to-rem(835px)) {
  .heroTitle {
    font-size: size.$font-size-44px;
  }
}

@media only screen and (max-width: px-to-rem(750px)) {
  .heroContainer {
    padding-inline: px-to-rem(32px);
    align-items: start;
  }
  .heroContent {
    flex-direction: column;
    align-items: start;
    gap: px-to-rem(25px);
  }
  .heroTitle {
    max-width: px-to-rem(400px);
  }
}

@media only screen and (max-width: px-to-rem(582px)) {
  .heroContainer {
    padding-inline: 0;
  }
  .heroContent {
    padding-inline: px-to-rem(32px);
  }
  .heroSubTitle {
    font-size: size.$font-size-16px;
    max-width: px-to-rem(320px);
  }
  .heroTitle {
    font-size: size.$font-size-50px;
  }
}

@media only screen and (max-width: px-to-rem(395px)) {
  .heroTitle {
    font-size: size.$font-size-32px;
  }
}
