@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.orderComplete {
  margin-block: px-to-rem(80px);
}

.completeContainer {
  @include container;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px-to-rem(16px);
  border-radius: px-to-rem(8px);
  width: 100%;
  max-width: px-to-rem(800px);
  height: px-to-rem(730px);
  box-shadow: rgb(204, 219, 232) px-to-rem(3px) px-to-rem(3px) px-to-rem(6px)
      0px inset,
    rgba(255, 255, 255, 0.5) px-to-rem(-3px) px-to-rem(-3px) px-to-rem(6px)
      px-to-rem(1px) inset;
  background: color.$color-natural-white;
  padding: px-to-rem(80px) px-to-rem(95px);
}

.thanksTitle {
  font-size: size.$font-size-28px;
  color: color.$color-dark-gray;
  font-weight: 500;
  line-height: 121%;
  letter-spacing: -0.02em;
  text-align: center;
}

.orderTitle {
  font-size: size.$font-size-40px;
  color: color.$color-process-title;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
  max-width: px-to-rem(500px);
  text-align: center;
  text-align-last: center;
}

.orderList {
  padding: 0;
  margin: 0;
  margin-block-start: px-to-rem(40px);
  display: flex;
  flex-direction: column;
  gap: px-to-rem(20px);
  > .orderListItem {
    font-size: size.$font-size-14px;
    color: color.$color-dark-gray;
    font-weight: 600;
    list-style-type: none;
    line-height: 157%;
  }
}

.orderButton {
  margin-block-start: px-to-rem(40px);
  border-radius: px-to-rem(80px);
  padding: px-to-rem(12px) px-to-rem(40px);
  width: 100%;
  max-width: px-to-rem(203px);
  height: px-to-rem(52px);
  border: none;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: -0.03em;
  text-align: center;
  font-size: size.$font-size-16px;
  color: color.$color-natural-white;
  background: color.$color-black;
}

@media (max-width: px-to-rem(1200px)) {
  .completeContainer {
    padding-inline: px-to-rem(100px);
  }
}

@media (max-width: px-to-rem(1000px)) {
  .completeContainer {
    padding-inline: px-to-rem(50px);
  }
}

@media (max-width: px-to-rem(750px)) {
  .completeContainer {
    padding-inline: px-to-rem(32px);
  }
}

@media (max-width: px-to-rem(560px)) {
  .orderBlock {
    padding-inline: px-to-rem(16px);
    align-items: start;
  }
  .orderTitle {
    text-align: left;
    text-align-last: left;
    font-size: size.$font-size-34px;
  }
  .thanksTitle {
    font-size: size.$font-size-18px;
  }
  .orderButton {
    max-width: 100%;
  }
}
