@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.price {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16px);
}

.priceTitles {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(9px);
}

.priceTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  line-height: 162%;
  color: color.$color-product-title;
}

.allPriceTitle {
  line-height: 157%;
  font-weight: 600;
  font-size: size.$font-size-14px;
  color: color.$color-rooms-title;
}

.checkboxPrice {
  position: relative;
  width: px-to-rem(20px);
  height: px-to-rem(20px);
  border: px-to-rem(1.5px) solid color.$color-dark-gray;
  border-radius: px-to-rem(4px);
  background-color: color.$color-white;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
  outline: none;

  &:checked {
    background-color: color.$color-black;
    border-color: transparent;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: px-to-rem(20px);
    height: px-to-rem(20px);
    background-image: url('/sidebar/arrow-checkbox.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(0) translate(-50%, -50%);
    border-radius: px-to-rem(2px);
    transition: transform 0.3s ease;
    z-index: 1;
  }

  &:checked::after {
    transform: scale(1) translate(-50%, -50%);
  }
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.price::-webkit-scrollbar {
  width: px-to-rem(8px);
  height: px-to-rem(8px);
}

.price::-webkit-scrollbar-track {
  background: color.$color-scroll-bar-thumb;
  border-radius: px-to-rem(100px);
}

.price::-webkit-scrollbar-thumb {
  background: color.$color-dark-gray;
  height: px-to-rem(40px);
  border-radius: px-to-rem(10px);
}

.title {
  line-height: 157%;
  font-weight: 600;
  font-size: size.$font-size-14px;
  color: color.$color-rooms-title;
}

.title {
  background: transparent;
  border: none;
  padding: 0;
}

@media (max-width: px-to-rem(1280px)) {
  .title {
    font-size: size.$font-size-13px;
  }
  .allRoomsTitle {
    font-size: size.$font-size-12px;
  }
  .checkboxPrice {
    max-width: px-to-rem(18px);
    max-height: px-to-rem(18px);
    &::after {
      max-width: px-to-rem(17px);
      max-height: px-to-rem(17px);
    }
  }
}

@media only screen and (max-width: px-to-rem(1100px)) {
  .sidebar,
  .sidebarContainer {
    max-width: px-to-rem(225px);
  }
  .sidebarContainer {
    top: px-to-rem(50px);
  }
  .price {
    overflow: auto;
    max-height: px-to-rem(150px);
  }
  .priceTitles {
    margin-right: px-to-rem(13px);
  }
}
