@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.cartSummary {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  > .summaryContainer {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(16px);
    border: px-to-rem(2px) solid color.$color-dark-gray;
    border-radius: px-to-rem(6px);
    width: 100%;
    max-width: px-to-rem(413px);
    height: px-to-rem(476px);
    padding: px-to-rem(24px);
  }
}

.title {
  font-weight: 500;
  color: color.$color-black;
  font-size: size.$font-size-20px;
  line-height: 140%;
}

.checkoutButtonBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: px-to-rem(1.5px) solid color.$color-dark-gray;
  min-height: px-to-rem(52px);
  padding: px-to-rem(13px) px-to-rem(16px);
  border-radius: px-to-rem(4px);
  > .summaryButton {
    display: flex;
    align-items: center;
    padding: 0;
    gap: px-to-rem(12px);
    width: 100%;
    max-width: px-to-rem(365px);
    background: transparent;
    border: none;
  }
}

.summaryCheckoutButtons {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(12px);
}

.subTotalTitle {
  font-weight: 400;
  color: color.$color-black;
  font-size: size.$font-size-16px;
  line-height: 162%;
  padding-block: px-to-rem(13px);
  border-bottom: px-to-rem(1px) solid color.$color-dark-gray;
}

.totalTitle {
  color: color.$color-black;
  font-size: size.$font-size-20px;
  font-weight: 600;
  line-height: 160%;
  margin-block-end: px-to-rem(16px);
}

.checkoutButton {
  font-weight: 500;
  font-size: size.$font-size-18px;
  line-height: 178%;
  letter-spacing: -0.02em;
  text-align: center;
  color: color.$color-white;
  border-radius: px-to-rem(8px);
  padding: px-to-rem(10px) px-to-rem(26px);
  background: color.$color-black;
  border: none;
  cursor: pointer;
}

.radio {
  display: none;
}

.radio + span {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
  display: inline-block;
}

.radio + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: px-to-rem(20px);
  height: px-to-rem(20px);
  border: px-to-rem(1.5px) solid color.$color-product-title;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: color.$color-white;
  transition: background 0.3s, border-color 0.3s;
}

.radio:checked + span::before {
  border-color: color.$color-product-title;
  background: color.$color-white;
}

.radio:checked + span::after {
  content: '';
  position: absolute;
  left: px-to-rem(5px);
  top: 50%;
  transform: translateY(-50%);
  width: px-to-rem(10px);
  height: px-to-rem(10px);
  border-radius: 50%;
  background: color.$color-product-title;
}

@media (max-width: px-to-rem(1240px)) {
  .title {
    font-size: size.$font-size-18px;
  }
  .radio + span,
  .price {
    font-size: size.$font-size-14px;
  }
}

@media (max-width: px-to-rem(1024px)) {
  .cartSummary > .summaryContainer {
    max-width: 100%;
  }
  .summaryCheckoutButtons > .summaryButton {
    max-width: 100%;
  }
}

@media (max-width: px-to-rem(400px)) {
  .summaryButton,
  .price {
    font-weight: 600;
    font-size: size.$font-size-14px;
  }
}
