@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/functions/functions' as *;

.topBarMenu {
  background: color.$color-light-gray;
  min-height: px-to-rem(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.topBarItems {
  display: flex;
  align-items: center;
  gap: size.$font-size-12px;
  margin: 0;
  padding-left: 0;
}

.topBarItem {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.topBarItem:nth-child(2) {
  font-weight: 600;
  line-height: 157%;
  font-size: clamp(
    #{size.$font-size-12px},
    0.7143rem + 0.1786vw,
    #{size.$font-size-14px}
  );
  color: color.$color-darker-gray;
}

.topBarItem:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 171%;
  font-size: size.$font-size-14px;
  color: color.$color-primary;
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background: color.$color-primary;
    position: absolute;
    bottom: 0;
  }
  &.darkTheme::after {
    background-color: color.$color-primary;
  }

  &.lightTheme::after {
    background-color: color.$color-white;
  }
}

.showLink {
  text-decoration: none;
  font-size: size.$font-size-14px;
  color: color.$color-primary;
  font-weight: 500;
  cursor: pointer;
}

.arrowIcon {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  &:hover {
    transform: translateX(8px);
  }
}

.closeButton {
  cursor: pointer;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(1.2);
  }
}

@media only screen and (max-width: px-to-rem(550px)) {
  .topBarItem:nth-child(3) {
    display: none;
  }
  .closeButton {
    right: px-to-rem(30px);
  }
}

@media only screen and (max-width: px-to-rem(380px)) {
  .topBarMenu {
    justify-content: start;
    padding-left: px-to-rem(32px);
  }
  .closeButton {
    right: px-to-rem(5px);
  }
}
