@use '../abstracts/globals';
@use '../abstracts/mixins';
@use '../abstracts/keyframes';
@use '../base/normalize';
@use '../colors/colors';
@use '../functions/functions';

*,
*::before,
*::after {
  button:focus {
    outline: none;
    border: none;
  }
}

* {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out,
    border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
