@use '../abstracts/globals';
@use '../abstracts/mixins';
@use '../abstracts/keyframes';
@use '../base/normalize';
@use '../colors/colors';
@use '../functions/functions';

*,
*::before,
*::after {
  button:focus {
    outline: none;
    border: none;
  }
}

* {
  transition: all .1s ease-in 0s;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
