@use '../../../styles/colors/colors' as color;

.upButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  background-color: color.$color-success;
  color: color.$color-white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  z-index: 1000;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease,
    background 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  opacity: 0;
  transform: scale(0.7);
  &:focus {
    border: none;
    outline: none;
  }
}

.upButton.show {
  opacity: 1;
  transform: scale(1);
}

.upButton:hover {
  background-color: color.$color-product-title;
}



@media (max-width: 400px) {
  .upButton {
    right: 5px;
    max-width: 35px;
    max-height: 35px;
  }
  .iconUp {
    max-width: 16px;
    max-height: 16px;
  }
}