$font-size-12px: 0.75rem;
$font-size-13px: 0.8125rem;
$font-size-14px: 0.875rem;
$font-size-15px: 0.9375rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;
$font-size-20px: 1.25rem;
$font-size-22px: 1.375rem;
$font-size-24px: 1.5rem;
$font-size-26px: 1.625rem;
$font-size-28px: 1.75rem;
$font-size-30px: 1.875rem;
$font-size-32px: 2rem;
$font-size-34px: 2.125rem;
$font-size-36px: 2.25rem;
$font-size-38px: 2.375rem;
$font-size-40px: 2.5rem;
