@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/functions/functions' as *;

.navItems {
  display: flex;
  align-items: center;
  gap: px-to-rem(16px);
}

.link {
  display: flex;
  align-items: center;
  gap: px-to-rem(5px);
  color: color.$color-banner-link;
  font-size: size.$font-size-14px;
  font-weight: 500;
  line-height: 171%;
  text-decoration: none;
}

.productItem {
  display: flex;
  align-items: center;
  gap: px-to-rem(5px);
  color: color.$color-product-title;
  font-size: size.$font-size-14px;
  font-weight: 500;
  line-height: 171%;
  order: 2;
}
