@use '../../colors/colors' as color;
@use '../../abstracts/globals' as size;
@use '../../abstracts/mixins' as *;

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
