@use '../../colors/colors' as color;
@use '../../abstracts/globals' as size;
@use '../../abstracts/mixins' as *;
@use '../../functions/functions' as *;

.main {
  min-height: 100vh;
  padding-block-start: px-to-rem(110px);
  display: flex;
  justify-content: center;
  align-items: center;
}
