@use '../../../styles/functions/functions' as *;

.contactBlock {
  width: 100%;
  max-width: 100%;
  max-width: px-to-rem(560px);
}

@media (max-width: px-to-rem(900px)) {
  .contactBlock {
    max-width: 100%;
  }
}
