@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/functions/functions' as *;

.values {
  display: flex;
  width: 100%;
  margin-block: px-to-rem(48px);
}

.valuesContainer {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: px-to-rem(24px);
}

.item {
  width: 100%;
  max-width: px-to-rem(262px);
}

.item > .itemContainer {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16px);
  padding: px-to-rem(48px) px-to-rem(32px);
  height: 100%;
  max-height: px-to-rem(220px);
  background: color.$color-light-gray;
}

.itemTitles {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8px);
}

.itemTitle {
  line-height: 140%;
  font-weight: 500;
  font-size: size.$font-size-20px;
}

.itemSubTitle {
  margin: 0;
  color: color.$color-dark-gray;
  font-size: size.$font-size-14px;
  line-height: 171%;
}

@media only screen and (max-width: px-to-rem(1360px)) {
  .item > .itemContainer {
    padding-inline: px-to-rem(22px);
  }
  .itemIcon {
    max-width: px-to-rem(42px);
    max-height: px-to-rem(42px);
  }

  .itemTitle {
    font-size: size.$font-size-16px;
  }

  .itemSubTitle {
    font-size: size.$font-size-12px;
  }
}

@media only screen and (max-width: px-to-rem(1300px)) {
  .valuesContainer {
    padding-inline: px-to-rem(100px);
  }
  .itemTitles {
    gap: px-to-rem(4px);
  }
}

@media only screen and (max-width: px-to-rem(1044px)) {
  .item {
    max-width: 100%;
  }
  .valuesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item > .itemContainer {
    align-items: center;
    padding-inline: 0;
  }
  .itemSubTitle {
    text-align: center;
  }
}

@media (max-width: px-to-rem(1000px)) {
  .valuesContainer {
    padding-inline: px-to-rem(50px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: px-to-rem(750px)) {
  .valuesContainer {
    padding-inline: px-to-rem(32px);
    gap: px-to-rem(18px);
  }
}

@media (max-width: px-to-rem(500px)) {
  .valuesContainer {
    gap: px-to-rem(8px);
  }
  .item > .itemContainer {
    padding: px-to-rem(32px) px-to-rem(16px);
    align-items: start;
  }

  .itemTitle {
    font-size: size.$font-size-14px;
    max-height: px-to-rem(45px);
  }
  .itemTitles {
    align-items: start;
  }
  .itemSubTitle {
    text-align: left;
    max-width: px-to-rem(100px);
    max-height: px-to-rem(20px);
  }
}

@media (max-width: px-to-rem(385px)) {
  .item > .itemContainer {
    padding: px-to-rem(32px) px-to-rem(8px);
  }
  .itemTitle {
    font-size: size.$font-size-12px;
  }
  .itemSubTitle {
    font-size: size.$font-size-10px;
  }
}

@media (max-width: px-to-rem(360px)) {
  .valuesContainer {
    grid-template-columns: 1fr;
  }
  .item > .itemContainer {
    align-items: center;
    border-radius: px-to-rem(10px);
  }
  .itemTitle {
    font-size: size.$font-size-16px;
    max-width: 100%;
  }

  .itemSubTitle {
    font-size: size.$font-size-14px;
    max-width: 100%;
  }
}
