@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.productItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(12px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.productItemImage {
  width: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  aspect-ratio: 4 / 5;
  padding: px-to-rem(16px);
  transition: all 0.3s ease;
  &:hover .addButton {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.productDiscount {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8px);
  top: px-to-rem(16px);
  left: px-to-rem(16px);
}

.newTitle {
  width: 100%;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: color.$color-black;
  background: color.$color-white;
  border-radius: px-to-rem(4px);
  padding: px-to-rem(4px) px-to-rem(14px);
  max-width: px-to-rem(67px);
  height: px-to-rem(24px);
}

.discountTitle {
  width: 100%;
  border-radius: px-to-rem(4px);
  padding: px-to-rem(4px) px-to-rem(14px);
  max-width: px-to-rem(71px);
  height: px-to-rem(24px);
  background: color.$color-success;
  color: color.$color-white;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.favoriteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: px-to-rem(32px);
  padding: px-to-rem(6px);
  width: px-to-rem(32px);
  height: px-to-rem(32px);
  background: color.$color-white;
  position: absolute;
  right: px-to-rem(30px);
  top: -3px;
  border: none;
  cursor: pointer;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 4px-to-rem(4px);
}

.starsFill {
  display: flex;
  align-items: center;
  gap: px-to-rem(4px);
}

.productPrices {
  display: flex;
  align-items: center;
  gap: px-to-rem(12px);
}

.productTitle > a {
  text-decoration: none;
  color: color.$color-black;
  font-weight: 600;
  line-height: 162%;
}

.price {
  line-height: 157%;
  font-weight: 600;
  font-size: size.$font-size-14px;
  color: color.$color-product-title;
}

.discount {
  line-height: 157%;
  text-decoration: line-through;
  font-size: size.$font-size-14px;
  color: color.$color-dark-gray;
}

.addBlock {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton {
  line-height: 175%;
  letter-spacing: -0.03em;
  text-align: center;
  font-weight: 500;
  color: color.$color-white;
  position: absolute;
  bottom: px-to-rem(10px);
  transform: translateX(-50%) translateY(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: px-to-rem(8px);
  width: 100%;
  padding: px-to-rem(6px) px-to-rem(24px);
  height: px-to-rem(35px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
  background: color.$color-black;
  font-size: size.$font-size-14px;
  cursor: pointer;
  max-width: px-to-rem(210px);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: all 0.3s ease,
    background 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    background: color.$color-success;
  }
}

.addedFavorite {
  background-color: color.$color-favorite-background;
}

.active {
  background-color: color.$color-success;
}

@media (max-width: px-to-rem(1200px)) {
  .newTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: size.$font-size-12px;
    max-width: px-to-rem(45px);
  }
  .discountTitle {
    font-size: size.$font-size-10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: px-to-rem(45px);
  }
  .productDiscount {
    flex-direction: row;
    gap: px-to-rem(10px);
  }
  .addButton {
    max-width: px-to-rem(140px);
    bottom: px-to-rem(5px);
  }
}

@media only screen and (max-width: px-to-rem(500px)) {
  .addButton {
    max-width: 120px;
    font-size: size.$font-size-12px;
    padding: 4px 12px;
    max-height: 30px;
    left: 10px;
    bottom: 6px;
  }
}

@media only screen and (max-width: px-to-rem(450px)) {
  .productItem {
    max-height: px-to-rem(281px);
  }
  .productItemImage {
    aspect-ratio: 4 / 5;
  }
  .productDiscount {
    flex-direction: column;
  }
  .productTitle {
    font-size: size.$font-size-14px;
  }
  .price,
  .discount {
    font-size: size.$font-size-12px;
  }
}
