@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/functions/functions' as *;

.sidebar {
  width: 100%;
  max-width: px-to-rem(262px);
}

.sidebarContainer {
  position: sticky;
  top: px-to-rem(40px);
  max-width: px-to-rem(262px);
  display: flex;
  flex-direction: column;
  gap: px-to-rem(32px);
}

.filterItem {
  display: flex;
  align-items: center;
  gap: px-to-rem(4px);
}

.filterTitle {
  font-size: size.$font-size-20px;
  color: color.$color-product-title;
  font-weight: 600;
  line-height: 160%;
}

.categories,
.price {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16px);
}

.categoriesTitle {
  font-weight: 600;
  line-height: 162%;
  color: color.$color-product-title;
}

.roomsTitles {
  display: grid;
  grid-template-columns: 1fr;
  gap: px-to-rem(12px);
  height: px-to-rem(150px);
  overflow: auto;
  & > .title {
    cursor: pointer;
    text-align: left;
  }
}

.roomsTitles::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.roomsTitles::-webkit-scrollbar-track {
  background: color.$color-scroll-bar-thumb;
  border-radius: 100px;
}

.roomsTitles::-webkit-scrollbar-thumb {
  background: color.$color-dark-gray;
  height: 40px;
  border-radius: 10px;
}

.allRoomsTitle {
  color: color.$color-product-title;
}

.title {
  line-height: 157%;
  font-weight: 600;
  font-size: size.$font-size-14px;
  color: color.$color-rooms-title;
}

.title {
  background: transparent;
  border: none;
  padding: 0;
}

@media only screen and (max-width: px-to-rem(1280px)) {
  .sidebar,
  .sidebarContainer {
    max-width: px-to-rem(200px);
  }

  .title {
    font-size: size.$font-size-13px;
  }
  .allRoomsTitle {
    font-size: size.$font-size-12px;
  }
}

@media only screen and (max-width: px-to-rem(1100px)) {
  .sidebar,
  .sidebarContainer {
    max-width: px-to-rem(225px);
  }
  .sidebarContainer {
    top: px-to-rem(50px);
  }
  .price {
    overflow: auto;
    max-height: px-to-rem(150px);
  }
  .priceTitles {
    margin-right: px-to-rem(13px);
  }
}

@media only screen and (max-width: px-to-rem(768px)) {
  .sidebar {
    display: none;
  }
}
