@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.contactValues {
  height: 100%;
  width: 100%;
  background: color.$color-light-gray;
}

.container {
  display: flex;
  @include container;
  padding-block: px-to-rem(60px);
  align-items: center;
  justify-content: space-between;
  gap: px-to-rem(18px);
  height: 100%;
}

.item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: px-to-rem(20px);
}

.itemContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: px-to-rem(16px);
}

.itemTitles {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8px);
}

.itemTitle {
  font-weight: 500;
  font-size: size.$font-size-18px;
  line-height: 140%;
  color: color.$color-black;
}

.itemSubTitle {
  margin: 0;
  color: color.$color-dark-gray;
  font-size: size.$font-size-13px;
  line-height: 171%;
}

@media (max-width: px-to-rem(1300px)) {
  .container {
    padding-inline: px-to-rem(100px);
  }
}

@media (max-width: px-to-rem(1024px)) {
  .container {
    padding-inline: px-to-rem(50px);
    display: grid;
    padding-block: 0;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-block-end: px-to-rem(35px);
  }
  .itemContainer {
    align-items: center;
  }
  .itemTitles {
    align-items: center;
  }
  .item {
    display: flex;
    padding: px-to-rem(20px);
    padding-block: px-to-rem(40px);
  }
}

@media (max-width: px-to-rem(750px)) {
  .container {
    padding-inline: px-to-rem(32px);
    max-height: 100%;
  }
  .itemContainer,
  .itemTitles {
    align-items: start;
  }
}

@media (max-width: px-to-rem(435px)) {
  .itemContainer,
  .itemTitles {
    align-items: center;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .itemTitle {
    font-size: size.$font-size-16px;
  }
  .item {
    padding-block: px-to-rem(20px);
    padding-inline: px-to-rem(5px);
  }
  .itemSubTitle {
    font-size: size.$font-size-10px;
  }
  .itemTitles {
    gap: px-to-rem(4px);
  }
}
