@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  box-sizing: border-box;
  width: px-to-rem(80px);
  height: px-to-rem(80px);
  border-radius: 50%;
  border: px-to-rem(10px) solid color.$color-banner-link;
  border-top-color: color.$color-white;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
