@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;

.wishlistButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1.5px solid color.$color-black;
  gap: 8px;
  width: 100%;
  max-width: 357px;
  min-height: 52px;
  border-radius: 8px;
  font-weight: 500;
  font-size: size.$font-size-18px;
  line-height: 178%;
  letter-spacing: -0.02em;
  @media (max-width: 900px) {
    max-width: 100%;
  }
}
