@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.productsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: px-to-rem(24px);
  border-bottom: px-to-rem(1.5px) solid color.$color-dark-gray;
}

.cartProductsTitle {
  width: px-to-rem(325px);
}

.cartProductsTitle,
.menuListItem {
  font-weight: 600;
  font-size: size.$font-size-16px;
  line-height: 162%;
  color: color.$color-product-title;
}

.productsMenu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: px-to-rem(74.5px);
  padding: 0;
  margin: 0;
}

.menuListItem {
  list-style-type: none;
}

.productGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.emptyTitle {
  text-align: center;
  font-size: size.$font-size-40px;
  margin-block-start: px-to-rem(30px);
  font-weight: 500;
}

@media (max-width: px-to-rem(1230px)) {
  .cartProductsTitle {
    max-width: px-to-rem(305px);
  }
  .productsMenu {
    gap: px-to-rem(56.5px);
  }
  .menuListItem:nth-child(2) {
    display: none;
  }
}

@media (max-width: px-to-rem(520px)) {
  .productsMenu {
    display: none;
  }
}
