@use '../../colors/colors' as color;
@use '../../abstracts/globals' as size;
@use '../../abstracts/mixins' as *;
@use '../../functions/functions' as *;

.signIn {
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
}

.banner {
  width: 100%;
  max-width: px-to-rem(720px);
  height: 100vh;
}

.signInContainer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signInBanner {
  width: 100%;
  max-width: px-to-rem(730px);
  height: 100vh;
  max-height: px-to-rem(1080px);
  background: url('/images/auth/authBanner.svg') no-repeat left center;
  background-size: contain;
}

@media only screen and (max-width: px-to-rem(1100px)) {
  .signInContainer {
    grid-template-columns: px-to-rem(400px) 1fr;
  }
}

@media only screen and (max-width: px-to-rem(780px)) {
  .signInContainer {
    display: flex;
    flex-direction: column;
    gap: px-to-rem(40px);
  }
  .signInBanner {
    background-size: cover;
    max-height: px-to-rem(700px);
    background-position: center center;
  }
}
