@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/mixins' as *;

.header {
  display: flex;
  flex-direction: column;
}

.headerContainer {
  @include container(18px 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
}

.headerLogo {
  padding-left: 30px;
}

.headerLogo > .headerLogoIcon {
  display: flex;
  line-height: 100%;
  font-weight: 500;
  font-size: size.$font-size-24px;
  position: relative;
  max-width: 105px;
  margin: 0;
  padding: 0;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    background: color.$color-dark-gray;
    border-radius: 50%;
    right: -5px;
    bottom: 3px;
  }
}

.headerNav > .headerMenu {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-left: 0;
}

.listItem {
  list-style-type: none;
}

.listLink {
  color: color.$color-dark-gray;
  text-decoration: none;
  line-height: 171%;
  font-weight: 500;
}

.headerSubNav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.circleIcon {
  color: color.$color-white;
  background: color.$color-black;
  font-size: size.$font-size-12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  right: 15px;
  line-height: 83%;
  font-weight: 700;
}
