@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;

.formLabel {
  width: 100%;
  max-width: 456px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color.$color-gray;
}

.formInput {
  width: 100%;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  padding-bottom: 8px;
  height: 40px;
  line-height: 162%;
  color: color.$color-dark-gray;
  caret-color: color.$color-dark-gray;
}
