@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/mixins' as *;

.authForm {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding-inline: 100px;
  max-width: 738px;
}

.formInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.formLabelsBlock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.signTitle {
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: color.$color-black;
  font-size: size.$font-size-40px;
}

.signSubTitle {
  line-height: 162%;
  color: color.$color-dark-gray;
}

.formLabel {
  width: 100%;
  max-width: 456px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color.$color-gray;
}

.formInput {
  width: 100%;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  padding-bottom: 8px;
  height: 40px;
  line-height: 162%;
  color: color.$color-dark-gray;
  caret-color: color.$color-dark-gray;
}

.signButton {
  background: transparent;
  border: none;
  font-weight: 600;
  color: color.$color-success;
}

.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  margin-bottom: 8px;
}

.checkboxInput {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.formCheckBox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
  margin-right: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  left: -1.5px;
  bottom: 1.5px;
}

.checkboxInput:checked + .formCheckBox {
  background-color: #007bff;
  border-color: #007bff;
}

.checkboxInput:checked + .formCheckBox::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxLabel {
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.authCheckBox {
  display: flex;
  align-items: center;
}

.authCheckBoxSubTitle {
  position: relative;
  bottom: 5.5px;
  color: color.$color-dark-gray;
}

.subTitleMarkForgot {
  position: relative;
  bottom: 5.5px;
  color: color.$color-black;
}

.subTitleMark {
  font-weight: 600;
  color: color.$color-black;
}

.primaryButton {
  width: 100%;
  max-width: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 175%;
  letter-spacing: -0.03em;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 40px;
  background: color.$color-black;
  color: color.$color-white;
  border: none;
}

.rememberForgotBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 438px;
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(1.25);
  }
}

@media (max-width: 1200px) {
  .authForm {
    padding-inline: 70px;
  }
  .primaryButton {
    max-width: 1000%;
  }
}

@media (max-width: 1080px) {
  .formLabelsBlock {
    gap: 10px;
  }

  .formInfo {
    gap: 7px;
    margin-bottom: 20px;
  }

  .signTitle {
    font-size: size.$font-size-28px;
  }

  .signSubTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: size.$font-size-14px;
  }

  .signButton {
    padding: 0;
  }

  .formInput {
    padding: 0;
    &::placeholder {
      font-size: size.$font-size-12px;
    }
  }

  .passwordIcon {
    max-width: 18px;
    max-height: 19px;
  }
  .authCheckBoxSubTitle {
    font-size: size.$font-size-12px;
  }
  .formCheckBox {
    max-width: 18px;
    max-height: 18px;
  }
  .checkboxInput:checked + .formCheckBox::after {
    top: 0;
    left: 4px;
  }
  .primaryButton {
    font-size: size.$font-size-14px;
    padding-block: 6px;
  }
}

@media (max-width: 1024px) {
  .authForm {
    padding: 40px;
  }
  .formLabel {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .signTitle {
    font-size: size.$font-size-40px;
  }
  .formInfo {
    gap: 24px;
  }
  .signSubTitle {
    font-size: size.$font-size-16px;
  }
  .authCheckBoxSubTitle {
    font-size: size.$font-size-16px;
  }
  .formInput {
    padding: 0;
    &::placeholder {
      font-size: size.$font-size-16px;
    }
  }
  .formInfo {
    margin-bottom: 32px;
  }
  .formLabelsBlock {
    gap: 32px;
  }
}
