@use '../../abstracts/mixins' as *;
@use '../../abstracts/globals' as size;
@use '../../colors/colors' as color;

.shopMain {
  margin-top: 120px;
}

.shop {
  display: flex;
}

.shopContainer {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.shopContent {
  display: flex;
  gap: 24px;
  margin-bottom: 100px;
}

.productsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 24px;
  position: relative;
}

.showMoreButton {
  color: color.$color-black;
  border: 1.5px solid color.$color-black;
  background: transparent;
  border-radius: 80px;
  padding: 6px 20px;
  width: 100%;
  max-width: 163px;
  height: 40px;
  line-height: 175%;
  letter-spacing: -0.03em;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  margin: 0 auto;
  transition: background 0.5s ease-in 0s,
    color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    background: color.$color-black;
    color: color.$color-white;
    border: 1.5px solid color.$color-white;
  }
}

.shopProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100%;
}

.shopProductsNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedOptions {
  display: flex;
  align-items: center;
}

.shopNavItem {
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid color.$color-gray;
  width: 46px;
  height: 40px;
  transition: background 1s ease-in-out, border-color 1s ease-in-out;
}

.shopNavItem:not(:last-child) {
  border-right: none;
}

.active {
  background: color.$color-light-gray;
}

.navTitle {
  font-weight: 600;
  line-height: 160%;
  color: color.$color-brand;
  font-size: size.$font-size-20px;
}

.loadingTitle {
  font-weight: 500;
  font-size: size.$font-size-28px;
  position: absolute;
}

@media only screen and (max-width: 1440px) {
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
    min-height: 50vh;
  }
}

@media only screen and (max-width: 1200px) {
  .shopContainer {
    padding-inline: 100px;
  }
  .shopNavItem {
    max-width: 40px;
    max-height: 36px;
  }
  .buttonIcon {
    max-width: 22px;
    max-height: 22px;
  }
}

@media only screen and (max-width: 1024px) {
  .shopContainer {
    padding-inline: 50px;
  }
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .shopContainer {
    padding-inline: 32px;
  }
  .productsGrid {
    justify-items: start;
    column-gap: 30px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 380px) {
  .shopContent {
    margin-bottom: 40px;
  }
  .shopProducts {
    gap: 32px;
  }
  .productsGrid {
    gap: 8px;
  }
  .starIcon {
    max-width: 14px;
    max-height: 14px;
  }
}
