@use '../../abstracts/mixins' as *;
@use '../../abstracts/globals' as size;
@use '../../colors/colors' as color;

.shopMain {
  margin-top: 110px;
}

.shop {
  display: flex;
}

.shopContainer {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.shopContent {
  display: flex;
  gap: 24px;
  margin-bottom: 100px;
}

.productsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  gap: 24px;
  row-gap: 40px;
  position: relative;
}

.showMoreButton {
  color: color.$color-black;
  border: 1.5px solid color.$color-black;
  background: transparent;
  border-radius: 80px;
  padding: 6px 20px;
  width: 100%;
  max-width: 163px;
  height: 40px;
  line-height: 175%;
  letter-spacing: -0.03em;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  margin: 0 auto;
  transition: background 0.5s ease-in 0s,
    color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    background: color.$color-black;
    color: color.$color-white;
    border: 1.5px solid color.$color-white;
  }
}

.shopProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-height: 100%;
}

.cardContainer {
  width: 100%;
}

.shopProductsNav {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.selectedOptions {
  display: flex;
  align-items: center;
}

.shopNavItem {
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid color.$color-gray;
  width: 46px;
  height: 40px;
  transition: background 1s ease-in-out, border-color 1s ease-in-out;
}

.shopNavItem:not(:last-child) {
  border-right: none;
}

.active {
  background: color.$color-light-gray;
}

.navTitle {
  width: 100%;
  max-width: fit-content;
  font-weight: 600;
  line-height: 160%;
  color: color.$color-brand;
  font-size: size.$font-size-20px;
}

.loadingTitle {
  font-weight: 500;
  font-size: size.$font-size-28px;
  position: absolute;
}

.shopFeatures {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shopFeaturesProducts {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navSelectFeatures {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.selectContainer {
  width: 100%;
  max-width: 300px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 8px;
}

.customSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 600;
  color: color.$color-dark-gray;
  font-size: size.$font-size-16px;
  line-height: 162%;
  cursor: pointer;
}

.select {
  display: flex;
  align-items: center;
  width: 120px;
  border-radius: 8px;
  padding: 8px;
  height: 48px;
  background-position: right -5px center;
  background-size: 40px 40px;
  background-image: url('/icons/select-appearance.svg');
  background-repeat: no-repeat;
  transition: border-color 0.3s ease;
  outline: none;
  font-weight: 600;
  cursor: pointer;

  &:focus {
    outline: 2px solid color.$color-success;
    border: none;
  }
}

.optionsContainer {
  position: absolute;
  top: 70px;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  list-style: none;
  opacity: 0;
  margin: 0;
  background: color.$color-white;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
  padding: 7px;
}

.optionsContainer.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.selectOption {
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: size.$font-size-16px;
  color: color.$color-black;
  line-height: 162%;

  &:hover {
    background-color: color.$color-light-gray;
  }
}

.selectDefaultOption {
  color: color.$color-light-gray;
  font-style: italic;
}

@media (max-width: 1200px) {
  .customSelect,
  .selectOption {
    font-size: size.$font-size-14px;
  }
  .select {
    max-width: 105px;
    max-height: 44px;
    font-size: size.$font-size-14px;
  }
  .optionsContainer {
    padding: 4px;
    padding-block: 0;
  }
  .selectOption {
    padding: 6px;
  }
  .selectOption:nth-child(1) {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .selectOption:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

@media only screen and (max-width: 1440px) {
  .productsGrid {
    min-height: 50vh;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1300px) {
  .shopContainer {
    padding-inline: 100px;
  }
  .shopNavItem {
    max-width: 40px;
    max-height: 36px;
  }
  .buttonIcon {
    max-width: 22px;
    max-height: 22px;
  }
}

@media only screen and (max-width: 1024px) {
  .shopContainer {
    padding-inline: 50px;
  }
  .productsGrid {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .navSelectFeatures {
    gap: 24px;
  }

  .shopProductsNav {
    max-width: 100%;
    justify-content: start;
  }
  .shopFeaturesProducts {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }

  .navSelectFeatures {
    max-width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .shopContainer {
    padding-inline: 32px;
  }
  .productsGrid {
    justify-items: flex-start;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
}

@media only screen and (max-width: 380px) {
  .shopContent {
    margin-bottom: 40px;
  }
  .shopProducts {
    gap: 32px;
  }
  .productsGrid {
    gap: 8px;
  }
  .starIcon {
    max-width: 14px;
    max-height: 14px;
  }
}
