@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;

.article {
  width: 100%;
  display: flex;
}

.articleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.articleNews,
.secondNewsBlock {
  width: 100%;
}

.articleCategory {
  font-weight: 700;
  font-size: size.$font-size-14px;
  color: color.$color-product-title;
  line-height: 100%;
  text-transform: uppercase;
}

.articleTitle {
  margin: 0;
  font-weight: 500;
  font-size: size.$font-size-54px;
  line-height: 107%;
  letter-spacing: -0.02em;
}

.articleAuthorBlock {
  display: flex;
  align-items: center;
  gap: 48px;
}

.authorTitle,
.articleData {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 162%;
  color: color.$color-dark-gray;
  font-weight: 400;
  font-size: size.$font-size-16px;
}

.articleNews {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.newsBlocks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.newsBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tertiaryNewsBlockItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
}

.newsBanner {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.newsInfo {
  width: 100%;
}

.newsTitle,
.secondNewsBlockTitle,
.tertiaryNewsBlockTitle {
  font-weight: 500;
  font-size: size.$font-size-28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: color.$color-brand;
}

.newsSecondTitle,
.newsSubTitle,
.secondNewsBlockSubTitle,
.tertiaryNewsBlockSubTitle {
  margin: 0;
  color: color.$color-brand;
  font-size: size.$font-size-16px;
  line-height: 162%;
}

.secondNews {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.secondNewsImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  justify-content: space-between;
}

.newsImageBanner {
  width: 100%;
  object-fit: cover;
  height: auto;
}

@media (max-width: 1000px) {
  .newsInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .newsTitle,
  .secondNewsBlockTitle,
  .tertiaryNewsBlockTitle {
    font-size: size.$font-size-22px;
  }
  .newsSecondTitle,
  .newsSubTitle,
  .secondNewsBlockSubTitle,
  .tertiaryNewsBlockSubTitle {
    font-size: size.$font-size-14px;
  }
}

@media (max-width: 800px) {
  .newsBlock {
    gap: 25px;
  }
  .secondNewsBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .secondNews {
    flex-direction: column;
  }
  .articleInfo {
    gap: 15px;
  }
  .articleTitle {
    font-size: size.$font-size-40px;
  }
  .authorTitle,
  .articleData {
    font-size: size.$font-size-14px;
  }
  .navIcon {
    max-width: 20px;
    max-height: 20px;
  }
  .secondNewsBlockTitle {
    font-size: size.$font-size-24px;
  }
  .tertiaryNewsBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 670px) {
  .tertiaryNewsBlockItems {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .secondNewsImages {
    grid-template-columns: 1fr;
  }
  .newContentBlock {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 430px) {
  .newsBlocks {
    gap: 16px;
  }
  .articleTitle {
    font-size: size.$font-size-28px;
  }
  .articleInfo {
    gap: 24px;
  }
  .articleCategory {
    font-size: size.$font-size-12px;
  }
  .newsBanner {
    aspect-ratio: 3 / 3;
  }
  .newsSubTitle,
  .newsSecondTitle,
  .secondNewsBlockSubTitle {
    font-size: size.$font-size-16px;
  }
  .newsTitle,
  .secondNewsBlockTitle {
    font-size: size.$font-size-28px;
  }
  .authorTitle,
  .articleData {
    font-size: size.$font-size-12px;
  }
}
