@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.burger {
  background: color.$color-white;
  width: 100%;
  height: 100%;
}

.burgerMenu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: color.$color-white;
  padding: px-to-rem(24px);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-origin: top right;
}

.burgerMenu.active {
  visibility: visible;
  pointer-events: auto;
}

.burgerHeader {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(40px);
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin: px-to-rem(20px) 0;
}

.close {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.18);
  }
}

.burgerLogo {
  position: relative;
  display: flex;
  align-items: center;
  gap: px-to-rem(15px);
}

.logo {
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}

.logo::after {
  content: '';
  position: absolute;
  right: -6px;
  bottom: 7px;
  width: 4px;
  height: 4.2px;
  border-radius: 50%;
  display: block;
  background: color.$color-dark-gray;
}

.searchLabel {
  border: 1.5px solid color.$color-black;
  padding: 0px px-to-rem(16px);
  display: flex;
  align-items: center;
  gap: px-to-rem(10px);
  margin-top: px-to-rem(16px);
  border-radius: px-to-rem(6px);
  height: px-to-rem(40px);
  display: none;
}

.searchInput {
  width: 100%;
  border: none;
  max-width: px-to-rem(295px);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  caret-color: color.$color-dark-gray;
  color: color.$color-dark-gray;
  font-size: size.$font-size-14px;
  &::placeholder {
    font-size: size.$font-size-14px;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.burgerList {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(16px);
  margin: 0;
  margin-top: px-to-rem(16px);
  padding: 0;
}

.listItem {
  list-style-type: none;
  padding-bottom: px-to-rem(16px);
  border-bottom: 1.4px solid color.$color-gray;
}

.listLink {
  width: fit-content;
  font-weight: 500;
  line-height: 171%;
  font-size: size.$font-size-14px;
  color: color.$color-black;
  text-decoration: none;
}

.burgerFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(14px);
  margin-top: px-to-rem(24px);
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: px-to-rem(8px);
  border-bottom: 1.4px solid color.$color-gray;
  line-height: 178%;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: color.$color-dark-gray;
  font-size: size.$font-size-14px;
}

.icons {
  display: flex;
  align-items: center;
  gap: px-to-rem(5px);
}

.circleCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: px-to-rem(20px);
  height: px-to-rem(20px);
  background: color.$color-black;
  border-radius: px-to-rem(200px);
  color: color.$color-white;
  line-height: 83%;
  font-weight: 700;
  font-size: size.$font-size-10px;
}

.signIn {
  border: none;
  border-radius: px-to-rem(6px);
  padding: px-to-rem(4px) px-to-rem(26px);
  color: color.$color-white;
  font-size: size.$font-size-16px;
  background: color.$color-black;
  line-height: 178%;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
  &:hover {
    background: color.$color-success;
  }
}

.burgerSocials {
  margin-top: px-to-rem(20px);
  display: flex;
  align-items: center;
  gap: px-to-rem(24px);
  display: none;
}

.favoriteLink,
.cartLink {
  display: flex;
  align-items: center;
}
