@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;

.burgerMenu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 343px;
  height: 100%;
  background-color: color.$color-white;
  color: color.$color-black;
  padding: 24px;
  z-index: 1000;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.burgerMenu.active {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.burgerMenu.active::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.burgerMenu.active::-webkit-scrollbar-track {
  background: color.$color-white;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin: 20px 0;
}

.close {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  &:hover {
    transform: scale(1.18);
  }
}

.burgerLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
}

.logo::after {
  content: '';
  position: absolute;
  right: -6px;
  bottom: 7px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: block;
  background: color.$color-dark-gray;
}

.searchLabel {
  border: 1.5px solid color.$color-black;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
  border-radius: 6px;
  height: 40px;
}

.searchInput {
  width: 100%;
  border: none;
  max-width: 295px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  caret-color: color.$color-dark-gray;
  color: color.$color-dark-gray;
  font-size: size.$font-size-14px;
  &::placeholder {
    font-size: size.$font-size-14px;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.burgerList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.listItem {
  list-style-type: none;
  padding-bottom: 16px;
  border-bottom: 1.4px solid color.$color-gray;
}

.listLink {
  font-weight: 500;
  line-height: 171%;
  font-size: size.$font-size-14px;
  color: color.$color-black;
  text-decoration: none;
}

.burgerFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 24px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1.4px solid color.$color-gray;
  line-height: 178%;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: color.$color-dark-gray;
  font-size: size.$font-size-14px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.circleCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: color.$color-black;
  border-radius: 200px;
  color: color.$color-white;
  line-height: 83%;
  font-weight: 700;
  font-size: size.$font-size-10px;
}

.signIn {
  border: none;
  border-radius: 6px;
  padding: 4px 26px;
  color: color.$color-white;
  font-size: size.$font-size-16px;
  background: color.$color-black;
  line-height: 178%;
  letter-spacing: -0.02em;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.burgerSocials {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
}
