@use '../../abstracts/mixins' as *;
@use '../../abstracts/globals' as size;
@use '../../colors/colors' as color;

.main {
  min-height: 100vh;
}

.product {
  padding-block-start: 110px;
}

.product > .productContainer {
  @include container;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-block-end: 40px;
}

.productInformation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 64px;
  @media (max-width: 1024px) {
    gap: 40px;
  }
}

@media (max-width: 1300px) {
  .product > .productContainer {
    padding-inline: 100px;
  }
}
@media (max-width: 1024px) {
  .product > .productContainer {
    padding-inline: 50px;
  }
}

@media (max-width: 900px) {
  .productInformation {
    grid-template-columns: 1fr;
  }
  .product > .productContainer {
    gap: 20px;
  }
}

@media (max-width: 750px) {
  .product > .productContainer {
    padding-inline: 32px;
    gap: 40px;
  }
}

