@use '../../abstracts/mixins' as *;
@use '../../abstracts/globals' as size;
@use '../../colors/colors' as color;
@use '../../functions/functions' as *;

.main {
  min-height: 100vh;
}

.blogContainer {
  @include container;
  padding-block-start: px-to-rem(110px);
}

@media only screen and (max-width: px-to-rem(1300px)) {
  .blogContainer {
    padding-inline: px-to-rem(100px);
  }
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .blogContainer {
    padding-inline: px-to-rem(50px);
  }
}

@media only screen and (max-width: px-to-rem(500px)) {
  .blogContainer {
    padding-inline: px-to-rem(32px);
  }
}
