@use '../../abstracts/mixins' as *;
@use '../../abstracts/globals' as size;
@use '../../colors/colors' as color;

.main {
  min-height: 100vh;
}

.blogContainer {
  @include container;
  margin-top: 120px;
}

@media only screen and (max-width: 1200px) {
  .blogContainer {
    padding-inline: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .blogContainer {
    padding-inline: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .blogContainer {
    padding-inline: 32px;
  }
}
