@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.formContainer {
  padding: px-to-rem(40px) px-to-rem(24px);
  display: flex;
  flex-direction: column;
  gap: px-to-rem(24px);
}

.formTitle {
  font-weight: 500;
  font-size: size.$font-size-20px;
  line-height: 140%;
  color: color.$color-brand;
}

.formUserInfo {
  display: flex;
  align-items: center;
  gap: px-to-rem(24px);
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(12px);
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  font-size: size.$font-size-12px;
  color: color.$color-dark-gray;
}

.input {
  width: 100%;
  max-width: px-to-rem(285px);
  padding-inline: px-to-rem(16px);
  border-radius: px-to-rem(4px);
  min-height: px-to-rem(40px);
  border: px-to-rem(1.5px) solid color.$color-input-border-secondary;
  caret-color: color.$color-dark-gray;
  color: color.$color-dark-gray;
  &:focus {
    outline: px-to-rem(1.5px) solid color.$color-success;
    border: none;
  }
  &::placeholder {
    font-size: size.$font-size-16px;
    line-height: 162%;
  }
}

.input[type='tell'],
.input[type='email'] {
  max-width: 100%;
}

@media (max-width: px-to-rem(1200px)) {
  .formContainer {
    padding: px-to-rem(30px) px-to-rem(20px);
  }
  .formTitle {
    font-size: size.$font-size-18px;
  }

  .input::placeholder {
    font-size: size.$font-size-10px;
  }
}
