@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.favoriteProducts {
  padding-block-start: px-to-rem(110px);
  width: 100%;
  height: 100%;
  @include container;
  overflow-x: hidden;
}

.emptyBanner {
  width: 100%;
  height: 100%;
  position: relative;
}

.emptyTitle {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: size.$font-size-40px;
}

.background {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 14 / 9;
}

@media (max-width: px-to-rem(1300px)) {
  .favoriteProducts {
    padding-inline: px-to-rem(100px);
  }
}

@media (max-width: px-to-rem(1200px)) {
  .background {
    position: relative;
    aspect-ratio: 17 / 9;
  }
}
@media only screen and (max-width: px-to-rem(1000px)) {
  .favoriteProducts {
    padding-inline: px-to-rem(50px);
  }
  .background {
    aspect-ratio: 9 / 9;
  }
}

@media only screen and (max-width: px-to-rem(750px)) {
  .favoriteProducts {
    padding-inline: px-to-rem(32px);
  }
  .background {
    max-width: px-to-rem(500px);
  }
}
