$color-primary: #377dff;
$color-success: #38cb89;
$color-warning: #ffab00;
$color-error: #ff5630;
$color-brand: #000;
$color-white: #fff;

$color-white: #fefefe;
$color-white-light: rgba(254, 254, 254, 0.95);
$color-white-darker: rgba(254, 254, 254, 0.2);
$color-white-darkest: rgba(254, 254, 254, 0.1);

$color-light-gray: #f3f5f7;
$color-light-gray-transparent: rgba(243, 245, 247, 0.5);

$color-gray: #e8ecef;
$color-gray-light: rgba(232, 236, 239, 0.75);
$color-gray-transparent: rgba(232, 236, 239, 0.5);

$color-dark-gray: #6c7275;
$color-dark-gray-light: rgba(108, 114, 117, 0.75);
$color-dark-gray-transparent: rgba(108, 114, 117, 0.5);
$color-dark-gray-darker: rgba(108, 114, 117, 0.25);
$color-dark-gray-darkest: rgba(108, 114, 117, 0.15);

$color-darker-gray: #343839;
$color-darker-gray-transparent: rgba(52, 56, 57, 0.5);

$color-darkest-gray: #232627;
$color-darkest-gray-light: rgba(35, 38, 39, 0.95);
$color-darkest-gray-darker: rgba(35, 38, 39, 0.9);
$color-darkest-gray-transparent: rgba(35, 38, 39, 0.5);

$color-black: #141718;
$color-black-light: rgba(20, 23, 24, 0.95);
$color-black-transparent: rgba(20, 23, 24, 0.5);


$color-slider-buttons-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);