@use '../../abstracts/mixins' as *;
@use '../../functions/functions' as *;

.main {
  padding-block-start: px-to-rem(110px);
}

.articleContainer {
  display: flex;
  flex-direction: column;
  @include container;
  gap: px-to-rem(56px);
}

@media (max-width: px-to-rem(1200px)) {
  .articleContainer {
    padding-inline: px-to-rem(100px);
    gap: px-to-rem(35px);
  }
}

@media (max-width: px-to-rem(1000px)) {
  .articleContainer {
    padding-inline: px-to-rem(50px);
  }
}

@media (max-width: px-to-rem(720px)) {
  .articleContainer {
    padding-inline: px-to-rem(32px);
  }
}
