@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  margin-bottom: px-to-rem(8px);
}

.checkboxInput {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
}

.formCheckBox {
  display: inline-block;
  width: px-to-rem(20px);
  height: px-to-rem(20px);
  border-radius: px-to-rem(4px);
  background-color: #f0f0f0;
  border: px-to-rem(2px) solid #ccc;
  transition: background-color 0.3s, border-color 0.3s;
  position: relative;
  margin-right: px-to-rem(10px);
  box-sizing: border-box;
  flex-shrink: 0;
  left: px-to-rem(-1.7px);
  bottom: px-to-rem(-2.5px);
}

.checkboxInput:checked + .formCheckBox {
  background-color: color.$color-primary;
  border-color: color.$color-primary;
}

.checkboxInput:checked + .formCheckBox::after {
  content: '';
  position: absolute;
  left: px-to-rem(4.5px);
  top: px-to-rem(1px);
  width: px-to-rem(7px);
  height: px-to-rem(12px);
  border: solid color.$color-white;
  border-width: 0 px-to-rem(2px) px-to-rem(2px) 0;
  transform: rotate(45deg);
}

.checkboxLabel {
  font-size: size.$font-size-16px;
  color: #333;
  line-height: px-to-rem(20px);
  margin: 0;
  padding: 0;
  display: inline-block;
}

.authCheckBox {
  display: flex;
  align-items: end;
}

.authCheckBoxSubTitle {
  position: relative;
  bottom: px-to-rem(5.5px);
  color: color.$color-dark-gray;
}

@media only screen and (max-width: px-to-rem(1100px)) {
  .authCheckBoxSubTitle {
    font-size: size.$font-size-14px;
  }
}

@media only screen and (max-width: px-to-rem(500px)) {
  .authCheckBoxSubTitle {
    font-size: px-to-rem(12px);
  }
  .authCheckBox {
    align-items: center;
  }
  .formCheckBox {
    max-width: px-to-rem(18px);
    max-height: px-to-rem(18px);
  }
}