@use '../../../styles/functions/functions' as *;

.closeButton {
  position: absolute;
  right: px-to-rem(25px);
  top: px-to-rem(25px);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
