@use '../../abstracts/mixins' as *;
@use '../../abstracts/globals' as size;
@use '../../colors/colors' as color;
@use '../../functions/functions' as *;

.cart {
  @include container;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(115px);
  padding-inline: 0;
  padding-block-start: px-to-rem(110px);
  position: relative;
}

.goBackLink {
  display: flex;
  align-items: center;
  gap: px-to-rem(5px);
  font-weight: 500;
  text-decoration: none;
  position: absolute;
  padding-inline-start: px-to-rem(160px);
  color: color.$color-banner-link;
  font-size: size.$font-size-14px;
  line-height: 171%;
}

.productsRowReverse {
  display: flex;
  flex-direction: column;
  padding-inline: px-to-rem(160px);
}

@media (max-width: px-to-rem(1300px)) {
  .productsRowReverse,
  .goBackLink {
    padding-inline: px-to-rem(100px);
  }
}

@media (max-width: px-to-rem(1024px)) {
  .productsCartSummary,
  .productsRowReverse {
    flex-direction: column;
  }
  .productsSummaryBlock {
    flex-direction: column;
  }
  .productsRowReverse {
    flex-direction: column;
    gap: px-to-rem(80px);
  }
}

@media (max-width: px-to-rem(1000px)) {
  .productsRowReverse,
  .goBackLink {
    padding-inline: px-to-rem(50px);
  }
}

@media (max-width: px-to-rem(750px)) {
  .productsRowReverse,
  .goBackLink {
    padding-inline: px-to-rem(32px);
  }
  .cart {
    gap: px-to-rem(40px);
  }
}
