@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/abstracts/mixins' as *;

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: color.$color-black;
}

.footerInformation {
  @include container;
}

.footerContainer {
  width: 100%;
  height: 260px;
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-direction: column;
}

.footerBanner {
  width: 100%;
  height: auto;
  max-height: 319px;
  background: url(../../../../public/images/footer/footerBanner.svg) no-repeat
    center center;
  background-size: cover;
  aspect-ratio: 16 / 9;
}

.footerJoinBlock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.footerJoinBlockTitles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.joinTitle {
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
  font-size: size.$font-size-40px;
  color: color.$color-black;
  margin: 0;
}

.joinSubTitle {
  line-height: 167%;
  font-size: size.$font-size-18px;
  color: color.$color-black;
  margin: 0;
}

.signUp {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 488px;
  height: 52px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: color.$color-dark-gray-light;
  }
}

.signUpInput {
  background: transparent;
  border: none;
  outline: none;
  line-height: 175%;
  letter-spacing: -0.03em;
  font-weight: 500;
  width: 100%;
  max-width: 380px;
  color: color.$color-dark-gray;
  &::placeholder {
    color: color.$color-dark-gray;
  }
}

.signUpButton {
  position: absolute;
  right: 0;
  color: color.$color-dark-gray;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 175%;
  letter-spacing: -0.03em;
  font-weight: 500;
}

.footerNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-block-end: 49px;
  &::after {
    content: '';
    position: absolute;
    top: 49px;
    width: 100%;
    height: 1px;
    background: color.$color-dark-gray;
  }
}

.footerNavLogo {
  display: flex;
  align-items: center;
  gap: 65px;
}

.navLogo {
  margin: 0;
  color: color.$color-white;
}

.logoMark {
  color: color.$color-dark-gray;
}

.navLogoSubtitle {
  color: color.$color-gray;
  font-size: size.$font-size-14px;
  line-height: 157%;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    display: block;
    position: absolute;
    left: -32px;
    content: '';
    height: 24px;
    width: 1px;
    background: color.$color-dark-gray;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.listItem {
  list-style-type: none;
  width: fit-content;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1.5px;
    width: 0;
    height: 2px;
    background-color: color.$color-white;
    transition: width 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  &:hover::after {
    opacity: 1;
    width: 100%;
  }
}

.listLink {
  text-decoration: none;
  line-height: 157%;
  font-size: size.$font-size-14px;
  color: color.$color-white;
}

.footerCopyrightBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyrightItemBlock {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 28px;
}

.copyPayments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.copyrightTitle {
  font-weight: 400;
  line-height: 167%;
  margin: 0;
  font-size: size.$font-size-12px;
  color: color.$color-gray;
}

.policyTermsItemBlock {
  display: flex;
  align-items: center;
  gap: 28px;
}

.privacy,
.terms {
  font-weight: 600;
  margin: 0;
  font-size: size.$font-size-12px;
  color: color.$color-gray;
}

.paymentsIconsBlock {
  display: flex;
  align-items: center;
  gap: 7px;
}

.iconContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 100%;
  border-radius: 4px;
  max-width: 48px;
  background: color.$color-white;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  padding-inline: 5px;
  &:hover {
    transform: scale(1.1);
  }
}

.icon {
  width: auto;
  max-width: 35px;
  height: 100%;
}

.footerSocial {
  display: flex;
  align-items: center;
  gap: 24px;
}

.bgTransparent {
  background: color.$color-footer-bg;
  aspect-ratio: 4 / 3;
}

.bgLight {
  background: color.$color-darkest-gray;
}

.socialIconMedium {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.socialIcon {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:hover {
    border-radius: 50%;
    background: rgba(color.$color-dark-gray, 0.5);
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 1200px) {
  .footerInformation {
    padding-inline: 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .footerInformation {
    padding-inline: 50px;
  }
  .footerJoinBlockTitles {
    align-items: center;
  }
  .joinTitle {
    font-size: size.$font-size-34px;
  }
}

@media only screen and (max-width: 835px) {
  .footerNav {
    flex-direction: column;
    align-items: start;
    gap: 25px;
    &::after {
      top: 110px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .footerContainer {
    margin-block: 25px;
    gap: 10px;
  }
  .footerJoinBlock {
    gap: 20px;
  }
  .joinSubTitle {
    font-size: size.$font-size-12px;
  }

  .footerInformation {
    padding-inline: 32px;
  }
  .footerBanner {
    aspect-ratio: 25 / 9;
  }
  .footerCopyrightBlock {
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 25px;
  }
  .copyrightItemBlock {
    justify-content: space-between;
  }
  .signUp {
    max-width: 350px;
  }
  .signUpInput {
    max-width: 250px;
  }
  .emailIcon {
    max-width: 18px;
    max-height: 18px;
  }
  .signUpInput {
    &::placeholder {
      font-size: size.$font-size-14px;
    }
  }
  .signUp {
    font-size: size.$font-size-14px;
  }
}

@media only screen and (max-width: 551px) {
  .copyPayments {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footerContainer {
    margin-block: 195px;
  }
  .footerBanner {
    aspect-ratio: 15 / 9;
  }
  .footerNav {
    align-items: center;
    &::after {
      top: 373px;
    }
  }
  .footerNavLogo {
    flex-direction: column;
    gap: 33px;
  }
  .navLogoSubtitle::before {
    display: none;
  }
  .navLogo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: size.$font-size-24px;
  }
  .navLogo::before {
    content: '';
    width: 1px;
    position: absolute;
    top: 32px;
    transform: rotate(90deg);
    height: 24px;
    background: color.$color-dark-gray;
  }
  .navMenu {
    flex-direction: column;
    gap: 32px;
  }
  .footerCopyrightBlock {
    flex-direction: column-reverse;
    align-items: center;
  }
  .copyrightItemBlock {
    flex-direction: column-reverse;
  }
  .navLogoSubtitle {
    color: color.$color-gray;
  }
  .footerJoinBlockTitles {
    max-width: 311px;
  }
  .joinTitle {
    font-size: size.$font-size-28px;
  }
  .joinSubTitle {
    font-size: size.$font-size-14px;
    text-align: center;
    text-align-last: center;
  }
  .signUp {
    max-width: 300px;
  }
  .signUpInput {
    max-width: 190px;
  }
}

@media only screen and (max-width: 330px) {
  .copyrightTitle {
    font-size: size.$font-size-9px;
  }
  .signUp {
    max-width: 250px;
  }
  .signUpInput {
    max-width: 150px;
  }
}
