@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: px-to-rem(24px);
  padding-block-end: px-to-rem(16px);
  border-bottom: px-to-rem(2.5px) solid color.$color-light-gray;
  position: relative;
}

.product__container {
  display: flex;
  gap: px-to-rem(16px);
}

.product__container > .product__info {
  display: flex;
  gap: px-to-rem(16px);
}

.product__image {
  object-fit: cover;
  width: px-to-rem(100px);
  height: px-to-rem(100px);
}

.product__details {
  width: px-to-rem(150px);
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8px);
}

.product__title {
  font-size: size.$font-size-14px;
  line-height: 157%;
  color: color.$color-black;
}

.product__color {
  color: color.$color-dark-gray;
  font-size: size.$font-size-12px;
  line-height: 167%;
}

.product__removeButton {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: px-to-rem(9px);
  font-weight: 600;
  color: color.$color-dark-gray;
  font-size: size.$font-size-14px;
  line-height: 157%;
  padding: 0;
  cursor: pointer;
}

.counterBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: px-to-rem(10px);
  width: 100%;
  border-radius: px-to-rem(4px);
  padding: px-to-rem(12px) px-to-rem(8px);
  width: px-to-rem(90px);
  height: px-to-rem(32px);
  background: color.$color-dropdown-header;
}

.counterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: size.$font-size-24px;
  color: color.$color-black;
  font-weight: 400;
  padding-block: 0;
  cursor: pointer;
  width: 100%;
  max-width: px-to-rem(20px);
  padding: 0;
}

.productItemNumber {
  font-weight: 600;
  font-size: size.$font-size-12px;
  line-height: 162%;
  width: px-to-rem(20px);
  text-align: center;
}

.originalPrice {
  font-weight: 400;
  font-size: size.$font-size-18px;
  line-height: 167%;
  color: color.$color-black;
  text-align: center;
  position: absolute;
  right: px-to-rem(135px);
}

.subTotal {
  font-size: size.$font-size-18px;
  line-height: 167%;
  color: color.$color-black;
  width: 100%;
  max-width: px-to-rem(80px);
}

@media screen and (max-width: px-to-rem(1230px)) {
  .product {
    gap: px-to-rem(30px);
  }
  .counterBlock {
    display: none;
  }
}
