@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.reviews {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(48px);
}

.reviewsInfoBlock {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(26px);
}

.reviewsRatingBlock {
  display: flex;
  align-items: center;
  gap: px-to-rem(10px);
}

.reviewsBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviewsTitle {
  font-weight: 500;
  color: color.$color-process-title;
  font-size: size.$font-size-28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  gap: px-to-rem(10px);
}

.starsFill {
  display: flex;
  align-items: center;
  gap: px-to-rem(4px);
}

.reviewsRatingTitle {
  font-size: size.$font-size-12px;
  color: color.$color-black;
  font-weight: 400;
  line-height: 167%;
  margin-block-end: -3px;
}

.areaBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: px-to-rem(2px) solid color.$color-gray;
  border-radius: px-to-rem(16px);
  padding: px-to-rem(16px) px-to-rem(16px) px-to-rem(16px) px-to-rem(24px);
  max-width: 100%;
  min-height: px-to-rem(72px);
  &:hover {
    border: none;
    border: px-to-rem(2px) solid color.$color-success;
  }
}

.reviewsArea {
  width: 100%;
  border: none;
  resize: none;
  font-size: size.$font-size-18px;
  color: color.$color-darker-gray;
  caret-color: color.$color-darker-gray;
  &:focus {
    border: none;
    outline: none;
  }
}

.writeButton {
  border-radius: px-to-rem(80px);
  width: 100%;
  max-width: px-to-rem(176px);
  height: px-to-rem(40px);
  border: none;
  background: color.$color-black;
  color: color.$color-white;
  font-size: size.$font-size-16px;
  font-weight: 500;
  line-height: 175%;
  letter-spacing: -0.03em;
}

.commentsSection {
  display: flex;
  flex-direction: column;
  gap: px-to-rem(40px);
}

.commentsTitle {
  font-weight: 500;
  color: color.$color-brand;
  font-size: size.$font-size-28px;
  line-height: 121%;
  letter-spacing: -0.02em;
}

.loadMoreButton {
  border-radius: px-to-rem(80px);
  width: 100%;
  max-width: px-to-rem(158px);
  min-height: px-to-rem(40px);
  border: px-to-rem(1.5px) solid color.$color-black;
  background: transparent;
  font-weight: 500;
  color: color.$color-black;
  font-size: size.$font-size-16px;
  line-height: 175%;
  letter-spacing: -0.03em;
  cursor: pointer;
  margin: 0 auto;
}

.writeButtonSmall {
  border-radius: px-to-rem(100px);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: px-to-rem(32px);
  height: px-to-rem(32px);
  background: color.$color-black;
  padding: 0;
}

.selectContainer {
  width: 100%;
  max-width: px-to-rem(250px);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8px);
}

.customSelect {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: px-to-rem(8px);
  font-weight: 600;
  color: color.$color-dark-gray;
  font-size: size.$font-size-16px;
  line-height: 162%;
  cursor: pointer;
}

.select {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: px-to-rem(8px);
  padding: px-to-rem(8px) px-to-rem(8px) px-to-rem(8px) px-to-rem(16px);
  height: px-to-rem(48px);
  border: px-to-rem(2px) solid color.$color-gray;
  background-color: color.$color-white;
  background-position: right 5px center;
  background-size: px-to-rem(40px) px-to-rem(40px);
  background-image: url('/icons/select-appearance.svg');
  background-repeat: no-repeat;
  transition: border-color 0.3s ease;
  outline: none;
  font-weight: 600;
  cursor: pointer;

  &:focus {
    outline: px-to-rem(2px) solid color.$color-success;
    border: none;
  }
}

.optionsContainer {
  position: absolute;
  top: 75px;
  width: 100%;
  background-color: color.$color-white;
  border: px-to-rem(1px) solid color.$color-light-gray;
  border-radius: px-to-rem(8px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  list-style: none;
  opacity: 0;
  margin: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
  padding: px-to-rem(7px);
}

.optionsContainer.open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.selectOption {
  padding: px-to-rem(10px);
  cursor: pointer;
  font-weight: 600;
  font-size: size.$font-size-16px;
  color: color.$color-black;
  line-height: 162%;

  &:hover {
    background-color: color.$color-light-gray;
  }
}

.selectDefaultOption {
  color: color.$color-light-gray;
  font-style: italic;
}

@media (max-width: px-to-rem(1200px)) {
  .customSelect,
  .selectOption {
    font-size: size.$font-size-14px;
  }
  .selectContainer {
    max-width: px-to-rem(200px);
  }
  .select {
    max-height: px-to-rem(44px);
    font-size: size.$font-size-14px;
  }
  .optionsContainer {
    padding: px-to-rem(4px);
    padding-block: 0;
  }
  .selectOption {
    padding: px-to-rem(6px);
  }
  .selectOption:nth-child(1) {
    border-top-right-radius: px-to-rem(8px);
    border-top-left-radius: px-to-rem(8px);
  }
  .selectOption:last-child {
    border-bottom-right-radius: px-to-rem(8px);
    border-bottom-left-radius: px-to-rem(8px);
  }
}

@media (max-width: px-to-rem(560px)) {
  .reviewsTitle {
    font-size: size.$font-size-22px;
  }
  .areaBlock {
    padding-block: px-to-rem(10px);
  }
}

@media (max-width: px-to-rem(375px)) {
  .reviewsTitle {
    font-size: size.$font-size-28px;
  }
}
