@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/globals' as size;
@use '../../../styles/colors/colors' as color;
@use '../../../styles/functions/functions' as *;

.formLabel {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid color.$color-gray;
}

.formInput {
  width: 100%;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  padding-bottom: px-to-rem(8px);
  padding-inline-start: px-to-rem(8px);
  height: px-to-rem(40px);
  line-height: 162%;
  color: color.$color-dark-gray;
  caret-color: color.$color-dark-gray;
}

.formLabelBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid color.$color-gray;
  padding: 0 0 px-to-rem(8px) 0;
}

@media only screen and (max-width: px-to-rem(1100px)) {
  .eyeIcon {
    max-width: px-to-rem(20px);
    max-height: px-to-rem(20px);
  }
  .formInput {
    font-size: size.$font-size-14px;
    padding-bottom: 0;
  }
}
